@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Single+Day&display=swap");
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  color: #ffffff;
  background-color: #000000;
}/*# sourceMappingURL=App.module.css.map */