@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Single+Day&display=swap");
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#bpMainConatiner {
  position: relative;
  display: flex;
  flex-direction: column;
}

#bpHeadingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 4rem 0rem 2rem;
}
#bpHeadingContainer h1 {
  color: #72db73;
  font-family: Single Day;
  font-size: 47px;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 0em;
  text-align: left;
}

#bpMoviesContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
#bpMoviesContainer #bpMoviesContainerP {
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-left: 4rem;
  margin-bottom: 1rem;
}

#bpBtnDirectToCP {
  background-color: #148a08;
  width: 179px;
  height: 50.1199989319px;
  border-radius: 34.7771453857px;
  justify-self: flex-end;
  border: none;
  font-family: DM Sans;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.02em;
  text-align: center;
  position: relative;
  right: 1rem;
  bottom: 1rem;
  align-self: flex-end;
  margin-top: 2rem;
}/*# sourceMappingURL=BrowserPage.module.css.map */