@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Single+Day&display=swap");
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#categorybox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 8.625rem;
  height: 6.6875rem;
  border-radius: 1.25rem;
  border: 0.375rem;
}
#categorybox img {
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 7.1015rem;
  height: 3.375rem;
  border-radius: 0.7288rem;
  background-color: inherit;
}
#categorybox p {
  position: relative;
  top: 0.2rem;
  left: 0.4rem;
  align-self: flex-start;
  font-family: DM Sans;
  background-color: inherit;
  border-radius: inherit;
  width: 4.9375rem;
  height: 1.9375rem;
  font-size: 1.2rem;
  line-height: 1.9375rem;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
}/*# sourceMappingURL=categoryCard.module.css.map */