#lopMainContainer {
  margin: 1rem 4rem 1rem 4rem;
}
#lopMainContainer #lopMainContainerP {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #878787;
}
#lopMainContainer #lopMovieImgs {
  box-sizing: content-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
}
#lopMainContainer #lopMovieImgs img {
  height: auto;
  width: 15rem;
  object-fit: contain;
  border-radius: 10px;
}/*# sourceMappingURL=ListOfMovies.module.css.map */