@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Single+Day&display=swap");
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#movieBoxMain {
  background-color: #148a08;
  width: 7rem;
  height: 2rem;
  border-radius: 1.9375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0.6rem;
}
#movieBoxMain #movitxt {
  background-color: inherit;
  height: 0;
  width: 0;
  font-family: Roboto;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.02em;
  text-align: left;
  color: #ffffff;
  line-height: 1.9rem;
}
#movieBoxMain #closeButton {
  all: unset;
  font-size: 1.5rem;
  color: #085c00;
  font-weight: 400;
}/*# sourceMappingURL=movieNameBox.module.css.map */