.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#rMainContainer {
  background-color: inherit;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  box-sizing: content-box;
}

#rbtnContainer {
  flex-direction: row;
  background-color: inherit;
  gap: 2rem;
  position: absolute;
  top: 4rem;
}

#rbtn {
  background: none;
  cursor: pointer;
  width: 25rem;
  height: 3rem;
  border-radius: 20px;
  background: #ff6a6a;
  color: #fff;
  font-family: Roboto;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: 105.688%; /* 32.763px */
  letter-spacing: 1.24px;
  position: absolute;
  bottom: 3rem;
}

.btnClass {
  background-color: inherit;
}/*# sourceMappingURL=Remote.module.css.map */