@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Single+Day&display=swap");
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#mainBoxsignPage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

#box1signPage {
  position: relative;
  flex: 1;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: fill;
  background-position: center center;
}
#box1signPage #box2signupP {
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 4.875rem;
  letter-spacing: 0.02em;
  text-align: left;
  position: relative;
  top: 25rem;
  left: 2rem;
  color: #ffffff;
  background-clip: text;
  -webkit-background-clip: text;
}

#box2signPage {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
}
#box2signPage h1 {
  width: 14.9375rem;
  height: 5.875rem;
  font-family: "Single Day", cursive;
  font-size: 4.1875rem;
  font-weight: 400;
  line-height: 5.875rem;
  letter-spacing: 0em;
  text-align: left;
  color: #72db73;
}
#box2signPage input:not([type=checkbox]) {
  box-sizing: border-box;
  all: unset;
  display: block;
  background: #292929;
  width: 18.375rem;
  height: 2.054rem;
  border-radius: 0.2384861163rem;
  margin: 1rem 0;
  padding-left: 1rem;
}
#box2signPage #inpCheckBox {
  margin-bottom: 1rem;
}
#box2signPage label {
  margin-left: 1rem;
}
#box2signPage #box1Btnsup {
  display: block;
  width: 18.375rem;
  height: 2.4375rem;
  border-radius: 1.75rem;
  background-color: #72db73;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.02em;
  text-align: center;
  margin: auto;
  margin-top: 3rem;
}
#box2signPage .botTxt {
  font-family: Roboto;
  width: 19.6875rem;
  font-size: 0.7rem;
  line-height: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: left;
  margin-top: 0.4rem;
  color: #7c7c7c;
}
#box2signPage .botTxt span {
  color: #72db73;
}
#box2signPage .errorMsg {
  font-family: DM Sans;
  font-size: 0.9rem;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: left;
  color: #ff0000;
  margin-top: -0.9rem;
}

@media (max-width: 950px) {
  #mainBoxsignPage {
    flex-direction: column;
  }
  #box1signPage #box2signupP {
    position: absolute;
    font-size: 2rem;
    top: 2rem;
    left: 2rem;
  }
}/*# sourceMappingURL=signUpPage.module.css.map */