#swbMianCotainer {
  border-radius: 1.9rem;
  background-color: rgb(30, 35, 67);
  overflow: hidden;
  height: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
}/*# sourceMappingURL=StopWatchBox.module.css.map */