$back-ground-color: #000000;
$logo-font-color: #72db73;

$accent-color-1: #72db73;
$accent-color-2: #148a08;

$danger-color: #ff0000;

$text-color-heading: #ffffff;
$text-color-1: #7c7c7c;

// imported font style for heading
@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Single+Day&display=swap");

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
