@use "common";

* {
  margin: 0;
  padding: 0;
}

//  main div css

#main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// left box css

#leftBox {
  height: 100vh;
  width: 30%;
  flex-wrap: wrap;
  margin: 0 6rem;
  margin-top: 4rem;

  h1 {
    width: 15.8125rem;
    height: 6.1875rem;
    color: common.$logo-font-color;

    font-family: Single Day;
    font-size: 3.4375rem;
    line-height: 6.1875rem;
    font-weight: 400;
    letter-spacing: 0em;
    margin-left: 0;

    margin-bottom: 1rem;
    text-align: left;
  }

  p {
    font-family: Roboto;
    font-size: 3.25rem;
    line-height: 4.9375rem;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 2rem;
    width: 20.59375rem;
    height: 14.8125rem;
  }

  #errorp {
    font-family: Roboto;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
    width: 21.375rem;
    height: 1.6875rem;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 1rem;

    color: common.$danger-color;
  }
}

#rightBox {
  width: 70%;
  margin: 0 6rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;

  #gridbox {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 2rem;
  }

  #btn {
    all: unset;
    width: 10.5rem;
    height: 2.5rem;
    border-radius: 2.4285709741210935rem;

    background-color: common.$accent-color-2;

    font-family: DM Sans;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;
    box-sizing: border-box;
    margin-top: 3rem;
    cursor: pointer;
  }
}

#addedCatergoryDiv {
  display: grid;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
}

@media (max-width: 950px) {
  #main {
    flex-direction: column;
  }
}
