#lopMainContainer {
  margin: 1rem 4rem 1rem 4rem;

  #lopMainContainerP {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #878787;
  }

  #lopMovieImgs {
    box-sizing: content-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;

    img {
      height: auto;
      width: 15rem;
      object-fit: contain;
      border-radius: 10px;
    }
  }
}
