@use "common";

#movieBoxMain {
  background-color: common.$accent-color-2;
  width: 7rem;
  height: 2rem;
  border-radius: 1.9375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0rem 0.6rem;

  #movitxt {
    background-color: inherit;
    height: 0;
    width: 0;
    font-family: Roboto;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.02em;
    text-align: left;
    color: #ffffff;
    line-height: 1.9rem;
  }

  #closeButton {
    all: unset;
    font-size: 1.5rem;
    color: #085c00;
    font-weight: 400;
  }
}
