#nbcMainContainer {
  border-radius: 1.9rem;
  display: grid;
  flex-direction: column;
  grid-template-rows: 60% 40%;
  height: 100%;
  overflow: hidden;
}

#nbcimgAndHeading {
  background-color: pink;
  overflow: hidden;
  position: relative;

  img {
    box-sizing: content-box;
    height: 100%;
    object-fit: fill;
    object-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  #nbcHeading {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.74);

    h3 {
      background-color: transparent;
      font-family: Roboto;
      font-size: 2rem;
      font-weight: 500;
      line-height: 40px;
      letter-spacing: 0.02em;
      text-align: left;
    }

    p {
      background-color: transparent;
      font-family: Roboto;
      font-size: 1rem;
      font-weight: 600;
      line-height: 26px;
      letter-spacing: 0.02em;
      text-align: left;
    }
  }
}

#nbcNews {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(39, 39, 39, 1);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: justified;

  font-family: Roboto;
  font-size: 1;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: justified;
}
