@use "common";

// grid items for main grid

#infoBox {
  grid-area: item1;
  border-radius: 1.9rem;
}
#weatherInfoBox {
  grid-area: item2;
  border-radius: 1.9rem;
}
#newsBox {
  grid-area: item5;
  border-radius: 1.9rem;
}

#notePadBox {
  grid-area: item3;
  border-radius: 1.9rem;

  background-color: #f1c75b;
  box-sizing: border-box;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem;

  height: 35.9375rem;

  width: auto;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;

  #InfoBoxHeading {
    background-color: inherit;
    color: #000000;
    font-family: Roboto;
    font-size: 2rem;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: 0.02em;
    text-align: left;

    margin-bottom: 1rem;
  }

  #InfoBoxContent {
    background-color: inherit;
    color: #000000;
    font-family: Roboto;
    font-size: 1rem;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align: left;

    width: 25rem;
    word-wrap: break-word;

    border: none;
    outline: none;
    resize: none;

    height: inherit;

    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar {
      width: 0.7rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ffe6a6;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #ffe6a6;
    }

    &::-webkit-scrollbar-track {
      background-color: inherit;
    }
  }
}
#stopWatchBox {
  grid-area: item4;
  border-radius: 1.9rem;
}

#goToBrowseBtn {
  grid-area: item6;
  background-color: #148a08;
  width: 179px;
  height: 50.119998931884766px;
  border-radius: 34.77714538574219px;
  justify-self: flex-end;
  border: none;

  font-family: DM Sans;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.02em;
  text-align: center;
}

// main box //

#NpmainBox {
  margin: 2rem;
  box-sizing: border-box;
  height: auto;
  width: auto;
  display: grid;
  gap: 0.9rem;
  grid-template-areas:
    "item1 item3 item5"
    "item2 item3 item5"
    "item4 item4 item5"
    "item6 item6 item6";

  grid-template-rows: 2fr 1.7fr 2.5fr 0.5fr;
  grid-template-columns: 1.5fr 2fr 1fr;
}

// grid item for infoBox grid

#infoboxImg {
  background-color: inherit;
  grid-area: item11;
}
#infoBoxDataBox {
  background-color: inherit;
  grid-area: item12;
}
#infoBoxCategoryBox {
  background-color: inherit;
  grid-area: item13;

  display: grid;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto auto;
  padding: 0;
}

// info box

#infoBox {
  background-color: #5746ea;
  display: grid;
  grid-template-areas:
    "item11 item12 item12"
    "item11 item13 item13";
  gap: 1rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;

  #UserDataName {
    font-family: Roboto;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 300;
    letter-spacing: 0.02em;
    text-align: left;

    color: #ffffff;
    background-color: inherit;
    margin-bottom: 0.5rem;
    margin-top: 0.8rem;
  }

  #UserDataEmail {
    font-family: Roboto;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 300;
    letter-spacing: 0.02em;
    text-align: left;

    color: #ffffff;
    background-color: inherit;
    overflow-wrap: break-word;
    margin-bottom: 0.5rem;
  }

  #UserDatauserName {
    font-family: Roboto;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: left;

    color: #ffffff;
    background-color: inherit;
  }
}

#categoryDataBox {
  border-radius: 1.9375rem;
  width: 6rem;
  height: 1.8rem;
  background-color: #9f94ff;

  font-family: Roboto;
  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: 300;
  letter-spacing: 0.02em;
  text-align: left;
  padding-left: 0.7rem;
  padding-top: 0.3rem;
}
