@use "common";

// Main Css
#mainBoxsignPage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

// left Box

#box1signPage {
  position: relative;
  flex: 1;
  height: 100vh;
  width: 100%;

  background-repeat: no-repeat;
  background-size: fill;
  background-position: center center;

  #box2signupP {
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 4.875rem;
    letter-spacing: 0.02em;
    text-align: left;

    position: relative;
    top: 25rem;
    left: 2rem;

    color: common.$text-color-heading;
    background-clip: text;
    -webkit-background-clip: text;
  }
}

// Right Box

#box2signPage {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;

  h1 {
    width: 14.9375rem;
    height: 5.875rem;
    font-family: "Single Day", cursive;
    font-size: 4.1875rem;
    font-weight: 400;
    line-height: 5.875rem;
    letter-spacing: 0em;
    text-align: left;
    color: common.$logo-font-color;
  }

  input:not([type="checkbox"]) {
    box-sizing: border-box;
    all: unset;
    display: block;
    background: #292929;
    width: 18.375rem;
    height: 2.054rem;
    border-radius: 0.2384861163rem;
    margin: 1rem 0;
    padding-left: 1rem;
  }

  #inpCheckBox {
    margin-bottom: 1rem;
  }

  label {
    margin-left: 1rem;
  }

  #box1Btnsup {
    display: block;
    width: 18.375rem;
    height: 2.4375rem;
    border-radius: 1.75rem;
    background-color: common.$accent-color-1;

    font-family: Roboto;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: 0.02em;
    text-align: center;
    margin: auto;
    margin-top: 3rem;
  }

  .botTxt {
    font-family: Roboto;
    width: 19.6875rem;
    font-size: 0.7rem;
    line-height: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 0.4rem;
    color: #7c7c7c;

    span {
      color: #72db73;
    }
  }

  .errorMsg {
    font-family: DM Sans;
    font-size: 0.9rem;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: left;
    color: #ff0000;
    margin-top: -0.9rem;
  }
}

@media (max-width: 950px) {
  #mainBoxsignPage {
    flex-direction: column;
  }

  #box1signPage #box2signupP {
    position: absolute;
    font-size: 2rem;
    top: 2rem;
    left: 2rem;
  }
}
