.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#wMainContainer {
  background-color: inherit;
  overflow: hidden;
  position: relative;
}

.circleContainer {
  height: 17rem;
  width: 17rem;
  background-color: rgba(30, 35, 67, 1);
  border-radius: 50%;
  position: absolute;
  z-index: 1;

  overflow: hidden;

  // box-shadow: 0px 6px 26px 0px rgba(0, 0, 0, 0.61) inset, -3px -7.000000476837158px 16px 0px rgba(95, 88, 88, 0.23);
}

.semicircle {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  transform-origin: right center;
}

.semicircle:nth-child(1) {
  background-color: rgba(255, 106, 106, 1);
  z-index: 2;
}
.semicircle:nth-child(2) {
  background-color: rgba(255, 106, 106, 1);
  z-index: 3;
}
.semicircle:nth-child(3) {
  background-color: rgba(30, 35, 67, 1);
  z-index: 4;
}

.outermostcircle {
  height: 16rem;
  width: 16rem;
  background-color: rgba(30, 35, 67, 1);
  border-radius: 50%;
  z-index: 5;

  // display: none;
}

// timer
#wTimer {
  position: absolute;
  background-color: inherit;
  z-index: 10;
  color: #fff;
  font-family: Roboto;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 105.688%; /* 42.275px */
  letter-spacing: 1.6px;
}
