#wicMainContainer {
  border-radius: 1.9rem;
  display: grid;
  grid-template-rows: 30% 70%;
  overflow: hidden;
}

#wicMainContainerTND {
  background-color: #ff4ade;
  display: flex;
  justify-content: space-around;
  align-items: center;

  #wicTime,
  #wicDate {
    background-color: inherit;
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0.02em;
    text-align: center;
  }
}

#wicMainContainerWeatherInfo {
  background-color: #101744;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0rem 1rem;

  hr {
    transform: rotate(90deg);
    border-left: 0px;
    border-right: 0px;
    margin: 0px;
    padding: 0px;
    width: 2.8rem;
  }

  #wicWeatherInfoImg {
    background-color: inherit;
    img {
      background-color: transparent;
    }
  }

  #wicWeatherInfoTempNPressure {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: inherit;
    text-align: left;
    gap: 1rem;
    font-family: Roboto;

    #wicWeatherInfoTempNPressureDegree {
      background-color: inherit;
      font-size: 2.2rem;
    }

    #wicWeatherInfoTempNPressurePressure {
      background-color: inherit;
      font-family: Roboto;
      gap: 0.4rem;
      font-size: 0.8rem;
    }
  }
}

#wicWeatherInfoWindNHumidityContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #101744;
  gap: 1rem;

  font-family: Roboto;

  #wicWeatherInfoWind {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #101744;
    gap: 0.4rem;
    font-size: 0.8rem;

    img {
      background-color: inherit;
    }

    p {
      background-color: inherit;
    }
  }

  #wicWeatherInfoHymidity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    font-family: Roboto;
    gap: 0.4rem;
    font-size: 0.8rem;

    img {
      background-color: inherit;
    }

    p {
      background-color: inherit;
    }
  }
}
